.ride-view-page {
    height: 100vh;
    background-image: url('../assets/backgroundCar.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }